.text-center{
   text-align:center;
}


#new-book-btn {
   display: block;
   margin: 0 auto;
   padding: 20px;
   font-size: 20px;
   background-color: blue;
   color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}

.book-card{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.book-header {
   background-color: #333;
   color:white;
   padding: 20px;
   text-align: center;
}

.book-title{
   margin: 0;
   font-size: 22px;
}

.book-author{
   margin: 5px 0 0 0;
   font-size: 18px;
}

.book-pages {
   margin: 0;
   font-size: 18px;
}

.book-status{
   margin: 10px 0 0 0;
   font-size: 16px;
   color: #333;
}

.read-status{
   background-color: blue;
}


/* The Modal (background) */
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left:0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: gray;
   background-color: gray;
}

/* Modal Content Box */
.modal-content {
   background-color: blue;
   margin: 15% auto;
   padding: 20%;
   border: 1px solid #888;
   width:  80%;
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus{
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.modal-header {
   padding: 2px 16px;
   background-color: gray;
   color: black;
}

.modal-body{
 padding: 2px 16px;
 background: gray;
 color: black;
}

.modal-content{
   position: relative;
   background: gray;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   animation-name: animatetop;
   animation-duration: 0.4s
}


@keyframes animatetop{
   from {top: -300px; opacity: 0}
   to {top: 0; opacity: 1}
}








